#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

/* Works in Chrome, Edge, Safari */
::-webkit-scrollbar {
  height: 4px;  /* horizontal scrollbar height */
  width: 4px;   /* vertical scrollbar width */
  margin: 0 auto
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* track color */
  border-radius: 100%;
}

::-webkit-scrollbar-thumb {
  background: #ec4899; /* pink */
  border-radius: 100%;
}

::-webkit-scrollbar-thumb:hover {
  background: #db2777; /* darker pink on hover */
}

select option {
  font-size: 12px;   /* force smaller text */
  color: white;      /* if you want consistent text color */
  background-color: #475569; /* matches bg-slate-600 */
}

/* Animation keyframes for loder */
@keyframes grow {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(2); opacity: 0.6; }
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
